body, html {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.glass-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 1000px;
    text-align: center;
}

p {
    margin: 0;
    font-size: 16px;
}

details {
    font-size: 16px;
}

summary {
    cursor: pointer;
    user-select: none;
}

.special-section {
    height: 150px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 16px;
    border: 1px dashed rgba(255, 255, 255, 0.5);
}